<template>
  <div class="wrapper">
    <header class="header">
      <TheHeader />
    </header>
    <main>
      <div class="wrap">
        <div class="left__side">
          <TheSideBar />
        </div>
        <div class="content">
          <RouterView />
        </div>
      </div>
    </main>
    <footer>
      <TheFooter />
    </footer>
  </div>
</template>

<script>
import {RouterLink, RouterView}  from 'vue-router'
import {defineComponent} from "vue";
import TheHeader from './components/TheHeader.vue'
import TheFooter from './components/TheFooter.vue'
import TheSideBar from './components/TheSideBar.vue'

export default defineComponent({
  components: {
    TheHeader,
    TheFooter,
    TheSideBar
  }
})


</script>

<style lang="scss" scoped>

</style>
