@import './base.css';
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;

    font-weight: normal;
}

a,
.green {
    text-decoration: none;
    color: var(--color-link);
    transition: 0.4s;
    cursor: pointer;
}

button{
    cursor: pointer;
}

button.btn {
    margin: 10px;
    padding: 5px 10px;
    border: 1px solid rgba(255,0,0,.7);
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    background: #ff0000b3;
}

button.btn:hover {
    color: #000;
    border: 1px solid #777;
    background: rgba(255,0,0,0);
}


@media (hover: hover) {
    a:hover {
        background-color: var(--color-link-hover);
    }
}

@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }

    #app {
        display: flex;
    }
}

.wrapper {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

.wrapper header.header{
    display:flex;
    width: 100%;
}

.wrapper header.header .nav__menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px 0;
}

.wrapper header.header .nav__menu .nav__menu-home{
    color: var(--vt-c-black);
    font-size: 22px;
    font-weight: 600;
    background: transparent;
    border-bottom: 1px solid transparent;
}

.wrapper header.header .nav__menu .nav__menu-home:hover{
    color: var(--color-link);
    background: transparent;
    border-bottom: 1px solid var(--color-link);
}

.wrapper main .wrap {
    display: flex;
}
.wrapper main .wrap .left__side{
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px 15px;
}

.wrapper main .wrap .content{
    width: 100%;
    margin-left: 20px;
}

.wrap__articles {
    display: flex;
    flex-direction: column;
}

.wrap__articles .info__count {
    padding: 10px 0;
}
.wrap__articles .articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrap__articles .card__article {
    display: flex;
    flex-direction: column;
    flex-basis: 320px;
    margin: 5px 5px;
}

.wrap__articles .card__article .card__image {
    max-width: 320px;
    height: auto;
}

.wrap__articles .card__article .article__name{
    font-size: 16px;
    font-weight: 600;
    color: var(--vt-c-black)
}

.wrap__articles .card__article .article__subtitle{
    color: var(--color-link)
}

.info__pagination {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagination {
    font-size: 14px;
    font-weight: bold;
}

.pagination button:disabled {
    color: rgba(0, 0, 0, 0.3);
}

.count__elem {
    border: 1px solid #777;
    border-radius: 5px;
}

.count__elem select{
    text-align: center;
    padding: 5px;
}

.pagination ul {
    margin-bottom: 0;
}

.page-item {
}

.page-item .page-link{
    color: var(--vt-c-black);
}

.page-item.active .page-link{
    background: rgba(255, 0, 0, 0.7);
    border-color: rgba(255, 0, 0, 0.7);
}

.wrapper__footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper__footer .soc{
    display: flex;
    align-items: center;
}

.wrapper__footer .soc li{
    list-style: none;
    padding: 5px;
}

#comment .add__comment{

}

#comment .add__comment h4{
    padding: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

#comment .add__comment .form__wrapper{
    padding: 10px;
    border: 1px solid #777;
    border-radius: 5px;
}

#comment .add__comment .form__wrapper .form__inner{
    padding: 10px;
}

#comment .add__comment .form__wrapper .form__inner label{
    margin-right: 10px;
}

#comment .add__comment .form__wrapper .form__inner input{
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
}
#comment .add__comment .form__wrapper .form__inner textarea{
    border: 1px solid #777;
    border-radius: 5px;
    width: 100%;
}
#comment .comment__title{
    padding-top: 10px;
    font-size: 18px;
    font-weight: 500;
}

#comment .comment__cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #777;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

#comment .comment__cart .comment__info{
    border-right: 1px solid #777;
    max-width: 160px;
    width: 100%;
}

#comment .comment__cart .comment__info .info__name{
    font-size: 14px;
    font-weight: 600;
}

#comment .comment__cart .comment_block {
    padding: 0 10px;
    width: 100%;
}