<template>
  <div class="wrap wrapper_article">
    <h2 class="article__title">{{article.name}}</h2>
    <div v-if="article.icon" class="article__wrap--image">
      <img class="article__image"
           :src="article.icon"
           :alt="article.name"
      >
    </div>
    <div v-if="article.subtitle" class="article__subtitle" v-html="article.subtitle"></div>
    <div v-if="article.description" class="article__description" v-html="article.description"></div>
    <div class="article__attribute">
      <div class="category" v-if="article && article.category">
        <span class="category__title">Категория:</span>
        <router-link class="btn menu__link"
            :to="{ name: 'category.show', params: { slug: article.category.slug} }"
        >
          {{article.category.name}}
        </router-link>
      </div>
      <div v-if="article && article.tags && article.tags.length > 0" class="tags">
        <span class="article__tag"
            v-for="tag in article.tags"
            :key="tag.id"
        >
          {{tag.name}}
        </span>
      </div>
    </div>
    <div id="comment">
      <div class="comments">
        <form @submit.prevent="addComment" class="add__comment">
          <h4>Добавить комментарий:</h4>
          <div class="form__wrapper">
            <div class="form__inner">
              <label>
                <input  class="comment__name"type="text" v-model="name" placeholder="Имя">
              </label>

              <lable>
                <input type="number" class="comment__rang" v-model="rang" placeholder="Оценка" required>
              </lable>

            </div>
            <div class="form__inner">
            <textarea v-model="comment" class="comment__text" id="" cols="30" rows="10" required>
              {{comment}}
            </textarea>
            </div>
            <button type="submit" class="btn button">Добавить</button>
          </div>
        </form>
        <h2 class="comment__title">Комментарии</h2>
        <div class="comment__cart"
             v-if="comments && comments.length > 0"
             v-for="comment in comments"
             :key="comment.id"
        >
          <div class="comment__info">
            <div class="info__name">{{ comment.name }}</div>
            <div class="info__rang">
              <span v-for="n in 5" :key="n" @click="setRating(n)" style="cursor: pointer;">
                <span v-if="n <= comment.rang" @click="setRating(n)" style="color: gold;">&#9733;</span>
                <span v-else @click="setRating(n)" style="color: #ccc;">&#9733;</span>
              </span>
            </div>
          </div>
          <div class="comment_block" v-html="comment.comment"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {defineComponent} from "vue";
import VueDisqus from 'vue-disqus';

export default defineComponent({
  name: "ArticleView",
  data() {
    return {
      article: {},
      comments: [],
      name: '',
      rang: null,
      comment: '',
    }
  },
  mounted(){
    this.getArticle(this.$route.params.slug, this.$route.params.slugSecond);
    this.getComments(this.$route.params.slugSecond)
  },
  methods: {
    async getArticle(slug, slugSecond) {
      await this.axios.get(`/api/categories/${slug}/${slugSecond}`)
          .then((res) => {
            this.article = res.data.data[0]
          })
          .catch((error) => {
            console.error('An error occurred while fetching article:', error);
          });
    },
    async getComments(slug){
      await this.axios.get(`/api/article/${slug}/comments/`)
          .then((res) => {
            this.comments = res.data.data
            console.log(res)
          })
          .catch((error) => {
            console.error('An error occurred while fetching article:', error);
          });
    },
    async addComment() {
      try {
        const res = await this.axios.post('/api/comment/add', {
          article_id: this.article.id,
          name: this.name,
          rang: this.rang,
          comment: this.comment,
        });
        await this.getComments(this.$route.params.slugSecond)
      } catch (error) {
        console.error('Error adding comment:', error);
      }
    },
    setRating(rating) {
      this.rang = rating;
    }
  }
})
</script>

<style lang="scss" scoped>
  .wrapper_article{
    flex-direction: column;

    .article__title{
      text-align: center;
      font-size: 32px;
    }

    .article__wrap--image{
      align-self: center;
      margin: 20px 0 ;


      .article__image{
        border-radius: 20px;
      }
    }
    
    .article__subtitle{
      font-size: 16px;
      font-weight: 600;
      font-style: italic;
    }

    .article__description{
      font-size: 16px;
      font-weight: 400;
      margin-top: 10px;
    }

    .article__attribute{
      margin: 10px 0;
      padding-top: 10px;
      border-top: 1px solid #777;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .category{

        .category__title{
          font-weight: 600;
          font-size: 14px;
          margin-right: 10px;
        }

        .btn{
          margin: 10px;
          padding: 5px 10px;
          color: #777;
          font-size: 14px;
          background: rgba(255,0,0,0);
          border: 1px solid #777;
          border-radius: 5px;
          text-decoration: none;

          &:hover{
            color: #fff;
            background: rgba(255,0,0,0.8);
            border: 1px solid rgba(255,0,0,0.7);
          }
        }
      }
    }
  }
</style>