<template>
  <div class="wrapper">
    <div class="wrapper__categories">
      <ul class="category__wrap"
          v-for="category in categories"
          :key="category.id"
      >
        <li>
          <router-link :to="`categories/${category.slug}`">
            {{category.name}}
          </router-link>
        </li>
      </ul>

    </div>
  </div>
</template>
<script>
import {defineComponent} from "vue";

export default defineComponent({
  name: "CategoriesView",

  data() {
    return {
      categories: [],
    }
  },
  mounted() {
    this.axios.get('/api/categories')
        .then((res) => {
          this.categories = res.data.data
        })
  },
})
</script>