<template>
  <div class="wrap wrap__articles">
    <div class="info__count">
      <span>Всего записей <span>{{thisPerPage}}</span> из <span>{{totalElem}}</span></span>
    </div>
    <div class="articles">
      <router-link
          class="card__article"
          v-for="article in articles"
          :key="article.id"
          :to="{
            name:'article.show',
            params:{
              slug: article.category.slug,
              slugSecond: article.slug
            }
          }
      ">
        <img class="card__image"
             :src="article.icon"
             :alt="article.name"
        >
        <span>{{ article.name }}</span>
        <p v-html="article.subtitle"></p>
      </router-link>
    </div>
    <div class="info__pagination">
      <div class="empty__block"></div>
      <div class="pagination">
        <paginate
            :page-count="totalPages"
            :page-range="3"
            :margin-pages="2"
            :prev-text="'Назад'"
            :next-text="'Вперед'"
            :click-handler="clickCallback"
            :container-class="'pagination'"
            :page-class="'page-item'"
        >
        </paginate>
      </div>
      <div class="count__elem">
        <select v-model="selectedPerPage" @change="changePer">
          <option
              v-for="option in perPageOptions"
              :key="option"
              :value="option"
          >
            {{ option }}
          </option>
        </select>
      </div>
    </div>
  </div>
</template>

<script>
import {defineComponent} from "vue";
import Paginate from 'vuejs-paginate-next';

export default defineComponent({
  name: "CategoryView",
  components:{
    paginate: Paginate,
  },
  data() {
    return {
      categories: [],
      category: [],
      articles: [],
      currentPage: 1,
      totalPages: 1,
      selectedPerPage: 9,
      thisPerPage: 9,
      totalElem: 1,
      perPageOptions: [3, 6, 9, 12, 15, 18] // Возможные варианты количества постов на странице
    }
  },
  mounted() {
    this.axios.get('/api/categories')
        .then((res) => {
          this.categories = res.data.data
        })
        .catch((error) => {
          console.error('An error occurred while fetching categories:', error);
        });
    this.load(this.$route.params.slug, this.selectedPerPage, this.currentPage); // Показать начальное количество записей
  },
  methods: {
    async load(slug,perPage,currentPage) {
      perPage = +perPage;
      await this.axios.get(`/api/categories/${slug}?perPage=${perPage}&page=${currentPage}`)
          .then(res => {
            this.articles = res.data.articles;
            this.currentPage = res.data.current_page;
            this.totalPages = res.data.last_page;
            this.totalElem = res.data.total;
          });
    },
    changePer(event) {
      this.selectedPerPage = parseInt(event.target.value);
      this.thisPerPage = (+this.currentPage) * (+this.selectedPerPage);
      if(this.currentPage === this.totalPages){
        this.thisPerPage =this.totalElem
      }
      this.load(this.$route.params.slug,this.selectedPerPage, this.currentPage);
    },
    clickCallback(pageNum){
      this.thisPerPage = (+pageNum) * (+this.selectedPerPage);
      if(this.currentPage === this.totalPages){
        this.thisPerPage =this.totalElem
      }
      this.load(this.$route.params.slug, this.selectedPerPage, pageNum);
    }
  },
  watch: {
    '$route.params.slug': {
      immediate: true,
      handler(slug) {
        console.log(slug)
        this.load(slug, this.selectedPerPage, this.currentPage);
      }
    }
  }
})
</script>


<style lang="scss" scoped>

</style>