<template>
  <label class="label_checkbox" :for="'item-'+item.id">
    <input type="checkbox" class="input_checkbox"
           :id="'item-'+item.id"
           :value="item.id"
           v-model="isChecked"
           @change="emitChecked"
    >
    {{ item.name }}
  </label>
</template>

<script>
export default {
  name: "TheCheckbox",
  props: {
    item: {
      type: Object,
      default: null
    },
    checked: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      isChecked: this.checked
    }
  },
  methods: {
    emitChecked() {
      this.$emit('update:checked', this.isChecked ? this.item.id : null);
    }
  },
  watch: {
    checked(newVal) {
      this.isChecked = newVal;
    }
  }
}
</script>

<style lang="scss" scoped>
.label_checkbox{
  font-size: 14px;
}
</style>
