<template>
    <div class="wrap wrapper__footer">
      <div class="copy">
        &copy;2024
      </div>
      <ul class="soc">
        <li>
          <a target="_blank" href="http://t.me/@wcb">@wcb</a>
        </li>
        <li>
          <a href="tel:+79203215250" target="_blank">phone</a>
        </li>
      </ul>
    </div>
</template>

<script>

</script>

<style scoped>

</style>