<template>
  <div class="nav__menu">
    <router-link class="nav__menu-home" to="/">Aspirity</router-link>
  </div>
</template>

<script>
export default {
  name: 'TheHeader',
};
</script>

<style lang="scss" scoped>
  nav.nav__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      padding: 5px;
      text-decoration: none;
      color: #000;

      &.menu__item{
        text-shadow: 1px 1px 1px #eee;
      }

      &.router-link-active{
        color: #000;
        text-shadow: 0px 0px 2px red;
      }

      &:hover{
        padding:4px;
        border: 1px solid #ddd;
        border-radius: 5px;
        color: #ddd;
      }

    }

  }
</style>