<template>
  <div class="pagination">
    <paginate
        v-model="currentPage"
        :page-count="totalPages"
        :page-range="3"
        :margin-pages="2"
        @page-changed="clickCallback"
    >
    </paginate>
  </div>
</template>
<script>
import Paginate from 'vuejs-paginate-next';
export default {
  name: 'ThePaginate',
  components: {
    paginate: Paginate,
  },
  props: {
    current: {
      type: Number,
      required: true,
    },
    totalPages: {
      type: Number,
      required: true,
    },
  },
  data(){
    return{
      currentPage: {
        type: Number,
        default: 1,
      }
    }
  },
  methods: {
    clickCallback(pageNum){
      console.log(pageNum)
      this.$emit('pagination-click', pageNum);
    }
  },
};
</script>
<style>
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";

.pagination {
}
.page-item {
}
</style>
