<template>
  <h3 class="side_bar--title">{{ title }}</h3>
  <ul :class="defaultClass">
    <li
        v-for="item in items"
        :key="item.id"
    >
      <router-link class="menu__item"
          :to="{name:routeName, params:{slug: item.slug}}">
        {{ item.name }}
      </router-link>
    </li>
  </ul>
</template>

<script>
export default {
  name: "TheSideBarElement",
  props: {
    items: {
      type: Object,
      default: null
    },
    defaultClass: {
      type: String,
      default: '',
    },
    title: {
      type: String,
      default: 'Название блока',
    },
    routeName: {
      type: String,
      default: 'category.show',
    }
  },
}
</script>

<style scoped>
  .side_bar--title{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    text-align: center;
  }
  .categroies__list{
    list-style: none;

    li{
      margin: 5px;
      .menu__item{
        font-size: 14px;
        color: #41638b;
        padding: 5px;
        text-decoration: none;

        &.router-link-active{
          margin-bottom: 1px;
          color: #000;
          border-bottom: 1px solid #000;
        }

        &:hover{

        }
      }
    }
  }

</style>