<template>
  <div class="TheSideBar">
    <TheSideBarElement
        :items="categories"
        :routeName="'category.show'"
        :title="'Категории'"
        :defaultClass="'categroies__list'"
    />
    <div class="fillters">
      <h3 class="side_bar--title">Фильтр</h3>
      <form @submit.prevent="searchTags" class="tags__list">
        <TheCheckbox
            v-for="tag in tags"
            :key="tag.id"
            :item="tag"
            :checked="tagsChecked.includes(tag.id)"
            @update:checked="updateTagChecked"
        />
        <button class="button btn" type="submit">Отсортировать</button>
      </form>
    </div>
  </div>
</template>

<script>
import TheSideBarElement from "@/components/TheSideBarElement.vue";
import TheCheckbox from "@/components/TheCheckbox.vue";

export default {
  name: "TheSideBar",
  components: {
    TheSideBarElement,
    TheCheckbox
  },
  mounted() {
    this.getCategories();
    this.getTags();
  },
  data() {
    return {
      categories: [],
      tagsChecked: [], // убедитесь, что tagsChecked инициализирован как массив
      tags: []
    };
  },
  methods: {
    async getCategories() {
      try {
        const res = await this.axios.get("/api/categories");
        this.categories = res.data.data;
      } catch (error) {
        console.error("Error fetching categories:", error);
      }
    },
    async getTags() {
      try {
        const res = await this.axios.get("/api/tags");
        this.tags = res.data.data;
      } catch (error) {
        console.error("Error fetching tags:", error);
      }
    },
    searchTags() {
      console.log(this.tagsChecked);
    },
    updateTagChecked(checkedTags) {
      this.tagsChecked = checkedTags; // убедитесь, что tagsChecked обновляется корректно
    }
  }
};
</script>


<style lang="scss" scoped>
.side_bar--title{
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0;
  border-bottom: 1px solid #eee;
  text-align: center;
}
.tags__list{
  display: flex;
  flex-direction: column;
}

.btn{
  margin: 10px;
  padding: 5px 10px;
  border: 1px solid rgba(255,0,0,0.7);
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  background: rgba(255,0,0,0.7);

  &:hover{
    color: #000;
    border: 1px solid #777;
    background: rgba(255,0,0,0);
  }
}
</style>